footer{
    display: flex;
    z-index: 999;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #3388cc;
    width: 100%;
    color: white;
    height: 80px;
    /* min-height: 80px; */
    bottom: 0!important;
    position: absolute;
    /* bottom: 0; */
    /* width: 100%; */
}
h3{
    padding: 0 1rem;
}
.divContact{
    display: flex;
    flex-direction: row;
}
.divContact ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.divContact ul li{
    padding: 0 1rem;
    padding-top: .5vh;
}
.copyright{
    padding: 0 1rem;
}
.copyright p{
    padding: 0;
    font-size: inherit;
}
/* @media screen and (max-width: 609) {

} */