nav {
	position: fixed;
	z-index: 999;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #3388cc;
	color: white;
	font-size: 1.2rem;
	height: 64px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	margin-bottom: 2rem;
}

body[dark-mode] .logo {
	background-color: #3388cc !important;
}

header img {
	padding: 0.5rem;
	position: absolute;
	top: 0.5%;
	width: 6%;
}
nav ul {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: flex-end;
}
header select {
	background-color: #3388cc;
	text-decoration: none;
	color: white;
	font-size: 1.2rem;
	border: none;
	outline: none;
	user-select: none;
	cursor: pointer;
	user-select: none;
}
nav ul li {
	padding: 0.6rem;
	color: white;
}

svg {
	width: 2.5rem;
	height: 2.5rem;
	margin: 0 2rem;
}

#moon {
	filter: invert(100%);
}

#sun {
	filter: invert(100%);
	display: none;
}

body[dark-mode] #moon {
	display: none;
}

body[dark-mode] #sun {
	display: block;
}

#anchor {
	border-radius: 25px;
	width: 3rem;
	position: fixed;
	right: 5%;
	bottom: 0%;
	display: none;
	z-index: 999;
}

/* MEDIA QUERIES */
@media screen and (max-width: 480px) {
	.logo {
		width: 85px;
	}
	nav {
		position: relative;
		font-size: 0.9rem;
	}
	#anchor {
		display: block;
	}
	nav ul li {
		padding: 0.3rem;
	}
}
