body {
	background: url(/img/bluelines.png);
}

p {
	padding: 2rem;
	font-family: 'Raleway', sans-serif;
	max-width: 75ch;
	text-align: center;
	line-height: 2rem;
	font-size: 2rem;
}
h1 {
	/* padding: 0 !important; */
	margin-top: 1rem !important;
}

.homeSection {
	display: flex;
	height: 80vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.homeSection button {
	width: 8rem;
	padding: 5px 10px 5px;
	border-radius: 25px;
	margin: 10px;
	font-family: 'Raleway', sans-serif;
	font-size: 1rem;
}
.homeSection .contener {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 25px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.btnContener {
	display: flex;
	justify-content: center;
}
.btnSearch {
	background-color: #3388cc;
	border: solid 1px #3388cc;
	color: white;
}
.btnSticker {
	border: solid 1px #3388cc;
	color: #3388cc;
	background-color: white;
}
.btnSearch:hover {
	border: solid 1px #3388cc;
	background-color: white;
	color: #3388cc;
}
.btnSticker:hover {
	background-color: #3388cc;
	color: white;
}
